<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>My FavMovie</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/style.css">
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="https://image.tmdb.org/t/p/w300/<%= movie.image_url %>" alt="<%= movie.title %>" class="img-rounded">
				</div>
				<div class="col-sm-8 well">
					<h2><%= movie.title %></h2>
					<h4><em><%= movie.release_date %></em></h4>
					<p><%= movie.description %></p>
					<form action="/add_movie" method="POST">
						<input type="hidden" name="id" value="<%= movie.id %>">
						<input type="hidden" name="title" value="<%= movie.title %>">
						<input type="hidden" name="release_date" value="<%= movie.release_date %>">
						<input type="hidden" name="description" value="<%= movie.description %>">
						<input type="hidden" name="image_url" value="<%= movie.image_url %>">
						<% if (!user.id) { %>
						<% } else if (added) { %>
							<button type="submit" class="btn btn-warning" formaction="/delete_movie">Remove from my favorite</button>
						<% } else { %>
							<button type="submit" class="btn btn-info">Add to Favorite</button>
						<% } %>
					</form>
					<br>
					<a href="/">Back to main page</a>
				</div>
			</div>
		</div>
	</body>
</html>