<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>My FavMovie</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<!-- <link rel="stylesheet" href="style.css"> -->
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<img src="https://image.tmdb.org/t/p/w300/<%= movie.image_url %>" alt="<%= movie.title %>">
				</div>
				<div class="col-sm-8">
					<h2><%= movie.title %></h2>
					<h3><%= movie.release_date %></h3>
					<p><%= movie.description %></p>
				</div>
			</div>
		</div>
	</body>
</html>